h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
}
h2 {
  
    font-size: 30px;
    line-height: 42px;
    font-weight: 600;
}
p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: rgb(193, 193, 193);
}
@media (max-width: 600px) {
    h1 {
        font-size: 30px;
        line-height: 48px;
        font-weight: 700;
    }
    h2 {
      
        font-size: 25px;
        line-height: 42px;
        font-weight: 600;
    }
    p {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: rgb(193, 193, 193);
    }
}